[submodule "aws/noteapp/serverless-stack-demo-api"]
	path = aws/noteapp/serverless-stack-demo-api
	url = https://github.com/AnomalyInnovations/serverless-stack-demo-api.git
[submodule "aws/noteapp/serverless-stack-demo-client"]
	path = aws/noteapp/serverless-stack-demo-client
	url = https://github.com/AnomalyInnovations/serverless-stack-demo-client.git
